<section class="tela-nova-nota-container">
    <div class="tela-nova-nota-container-top">
        <p class="titulo">SEM TÍTULO</p>
    </div>
    <br>
    <div class="tela-nova-nota-container-content">
        <img class="imgFoto" src="assets/images/picture.png" width="40px" height="40px" (click)="entrar()">
        <br>
        <img class="imgAudio" src="assets/images/audio-waves.png" width="40px" height="40px" (click)="entrar()">
        <br>
        <img class="imgTrad" src="assets/images/translator.png" width="40px" height="40px" (click)="entrar()">

    </div>
    <br><br>
    <div class="tela-nova-nota-container-input">
        <textarea id="text" name="Anotacao" rows="20" cols="35"></textarea><br>
        <button id="Entrar">Salvar</button>
    </div>
</section>