h1 {
    font: 'Roboto';
    text-align: center;
    font-weight: 400;
    margin-top: 10%;
}

carousel {
    width: 100%;
    margin-top: 20%;
    text-align: center;
    font-family: Trebuchet MS;
    display: block;
    font-size: 6vmin;
    align-content: center;
    margin-left: auto;
    margin-right: auto;

    page {
        position: absolute;
        margin-top: 30%;
        top: 2em;
        left: 0;
        width: 100%;
        transition: transform 0.5s;
        transform: scale(0);
        align-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto;

        div {
            padding: 3em;
        }

        label {
            cursor: pointer;
            color: #71AF8E;
            width: 100%;
        }
    }

    @for $i from 1 through 5 {
        #page#{$i}cb:checked~ {
            #page#{$i} {
                transform: scale(1);
            }
        }
    }
}