<h1>Japão 2021</h1>

<carousel>
  <input type="radio" id="page1cb" checked name="pages" />
  <input type="radio" id="page2cb" name="pages" />
  <input type="radio" id="page3cb" name="pages" />
  <input type="radio" id="page4cb" name="pages" />
  <input type="radio" id="page5cb" name="pages" />
  <!-- page 1 -->
  <page id="page1">
    <div><img src="assets/images/tokyo-01.jpeg" width="200" height="200"></div>
    <label for="page2cb" title="Start"><b>></b></label>
  </page>
  <!-- page 2 -->
  <page id="page2">
    <div><img src="assets/images/tokyo-02.jpeg" width="200" height="200"></div>
    <label for="page3cb" title="Next"><b>></b></label>
  </page>
  <!-- page 3 -->
  <page id="page3">
    <div><img src="assets/images/tokyo-03.jpeg" width="200" height="200"></div>
    <label for="page4cb" title="Next"><b>></b></label>
  </page>
  <!-- page 4 -->
  <page id="page4">
    <div><img src="assets/images/tokyo-04.jpeg" width="200" height="200"></div>
    <label for="page5cb" title="Next"><b>></b></label>
  </page>
  <!-- page 5 -->
  <page id="page5">
    <div>FIM</div>
    <label for="page1cb"><b><<<</b></label>
  </page>
</carousel>
