<section class="tela-login-container">
    <div class="tela-login-container-top">
        <img src="assets/images/all-notes-logo.png" width="300px" height="300px" style="display: block; align-items: center;">
    </div>
    <br>
    <div class="tela-login-container-form">
        <input type="email" placeholder="Email">
        <br>
        <input type="password" placeholder="Password">
    </div>
    <br><br>
    <div class="tela-login-container-buttons">
        <button id="Entrar" (click)="entrar()">Entrar</button>
    </div>
</section>