<section class="tela-notas-container">
    <div class="tela-notas-container-top">
        <h1>Japão 2021</h1>
    </div>
    <br><br>
    <div class="tela-notas-container-content">
        <img src="assets/images/photos.svg" (click)="galeria()">
        <br>        
    </div>
    <p>FOTOS E VÍDEOS</p>
    <br><br>
    <div class="tela-notas-container-content">
        <img src="assets/images/trad.svg" (click)="traducao()" >
        <br>
        </div>
        <p>ANOTAÇÕES TRADUZIDAS</p>
  
    <br>
        <p (click)="audio()">ÁUDIOS</p>


</section>